/* Aterisk wilcard selector to orverride default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
}


/* Header */
header {
    background-color: lightcoral;
}

/* Main content */
main {
    background-color: lightblue;
    /* 1 Allows the content to grow to fit any surplus space, 0 stops it from shrinking and auto means it's based on it's natural
    size unless specified otherwise. It also pushes the footer down to the bottom of the page*/
    flex: 1-0 auto;
}

/* Footer */
footer {
    background-color: orange;
}
