/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Aterisk wilcard selector to orverride default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
}


/* Header */
header {
    background-color: lightcoral;
    font-family: "Lato", sans-serif;
    text-decoration: underline;
}


/* Main content */
main {
    background-color: lightblue;
    /* 1 Allows the content to grow to fit any surplus space, 0 stops it from shrinking and auto means it's based on it's natural
    size unless specified otherwise. It also pushes the footer down to the bottom of the page*/
    flex: 1-0 auto;
}

/* Footer */
footer {
    background-color: orange;
}
